header{
    color: white;
    text-align: center; 
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    padding: 1rem;
    margin: 0;
    display: flex;

    }
.logoContainer{
    width: 35vw;
   
}


.logo{
    width: 10rem;
    height: auto;
    margin-left: 2rem;
}

.rightColumn{
    width: 65vw;
    

}
.navbar{
    width: 60%;
    justify-content: space-between;
    font-size: 1rem;
    display: flex;

}