
header{ 
    background-color: #58234F;
    padding: 0;
    margin: 0;
    height: 15vh;
    width: 100vw;
    align-items: center;
    display: flex;
    justify-content: space-around;
    }
.header-bar{
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 200px;   
}
.nav-link{
    color: white;
    text-decoration: none;
}
.nav-link:hover{
    color: hotpink;
    transform: scale(1.1);
}
.login-signup-btn{
    background-color: violet;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 15px;
}